

</head>


<h2>RAILSBRIDGE IS RUN ENTIRELY ON DONATIONS OF MONEY, TIME, AND EXPERTISE.</h2>

<h3>If you'd like to contribute as an individual, you can do so via PayPal <i class="fa fa-cc-paypal" aria-hidden="true"></i></h3>


<button>Support RailsBridge San Diego</button>

<hr></hr>


<h1>Sponsorship</h1>
<h2>Become an Annual Sponsor</h2>
<h3>Get all the benefits of your desired sponsorship level for 2 workshops, as well as: </h3>
  <ul>
    <li>Acknowledgement as an Annual Sponsor</li>
    <li>Consistent branding on the entire year’s media.</li>
    <li>A 10% discount on Sponsorship Package</li>
  </ul>

  <h1>HOW SPONSORSHIP FUNDS ARE SPENT:</h1>
   <ul>
     <h3>Food and Beverages:</h3>
     <li>Dinner for Installfest / Breakfast, Lunch,
     Snacks, Coffee for the Workshop.</li>
     <li>Meals typically cost $2,000-$3,000.</li>
   </ul>
   <ul>
     <h3>Childcare: One of the biggest barriers to having women join an event like Railsbridge is not having supervision for their children for a full day workshop.</h3>
     <li>We provide onsite childcare for the entire workshop!</li>
   </ul>
   <ul>
     <h3>Sunday Post-Workshop Celebration:</h3>
     <li>We gather at a nearby restaurant to
celebrate a successful program</li>
     <li>This is also a key opportunity for students to network with each other and with the workshop volunteers and sponsor representatives.</li>
     <li>We typically cover the first round of drinks and appetizers which cost around $1,000.</li>
   </ul>
   <br>
   <br>


  <div class="container">
    <div class="row">
      <div class="col-md-3" id="sponsors">DIAMOND
        <br>
        <button id="diamond" class="btn btn-primary" type="button">
        Diamond <span class="badge">D</span>
      </button>
      <br>
        <i class="fa fa-diamond fa-1x" aria-hidden="true"></i>
        <i class="fa fa-diamond fa-1x" aria-hidden="true"></i>
        <i class="fa fa-diamond fa-1x" aria-hidden="true"></i>
        <br>
        <br>
        <ul style="list-style-type:none">
          <li>Single Event: $2500</li>
          <li>Annual: $4500</li>
        </ul>
      </div>
      <div class="col-md-3" id="sponsors">PLATINUM
        <br>
        <button id="platinum" class="btn btn-primary" type="button">
        Platinum <span class="badge">P</span>
      </button>
      <br>
      <br>
      <br>
        <ul style="list-style-type:none">
          <li>Single Event: $1000</li>
          <li>Annual: $1800</li>
        </ul>
      </div>
      <div class="col-md-3" id="sponsors">GOLD
        <br>
        <button class="btn btn-warning" type="button">
        Gold <span class="badge">G</span>
      </button>
      <h4>Sponsor Childcare!</h4>
      <br>
        <ul style="list-style-type:none">
          <li>Single Event: $500</li>
          <li>Annual: $900</li>
        </ul>
      </div>
      <div class="col-md-3" id="sponsors">SILVER
        <br>
        <button id="silver" class="btn btn-warning" type="button">
        Silver <span class="badge">S</span>
      </button>
      <h4>Sponsor a Meal!</h4>
        <br>
        <ul style="list-style-type:none">
          <li>Single Event: $250</li>
          <li>Annual: $450</li>
        </ul>
      </div>
   </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-3" id="below">Platinum Sponsorship PLUS:
        <ul>
          <li>5 minute pitch</li>
          <li>Access to participants
          email addresses (opt-ins
          only)</li>
          <li>Annual Diamond
          Sponsors get your company name and logo on a RailsbridgeSD T- shirt*</li>
        </ul>
      </div>
      <div class="col-md-3" id="below">Gold Sponsorship PLUS:
        <ul>
          <li>Larger logo under a
          Platinum Sponsorship
          banner</li>
          <li>A 'sponsored by’ line on
          email communications</li>
          <li>Acknowledgement and
          Introduction at the event as a Platinum Sponsor</li>
        </ul>
      </div>
      <div class="col-md-3" id="below">Gold:
        <ul>
          <li>Your name and logo on the Railsbridge SD event and registration page</li>
          <li>Acknowledgement at the event</li>
          <li>Ability to provide swag or digital content to all of our attendees</li>
        </ul>
      </div>
      <div class="col-md-3" id="below">Silver:
        <ul>
          <li>Your name and logo on the Railsbridge SD event and registration page</li>
          <li>Acknowledgment / Thank You at the beginning OR at the meal of sponsorship</li>
        </ul>
      </div>
   </div>
  </div>
