

</head>
<h1>Donate#index</h1>

<h2>RAILSBRIDGE IS RUN ENTIRELY ON DONATIONS OF MONEY, TIME, AND EXPERTISE.</h2>

<h3>If you'd like to contribute as an individual, you can do so via PayPal.</h3>


<button>Support RailsBridge San Diego</button>

<hr></hr>


<h1>Sponsorship</h1>
<h2>Become an Annual Sponsor</h2>
<h3>Get all the benefits of your desired sponsorship level for 2 workshops, as well as: </h3>
  <ul>
    <li>Acknowledgement as an Annual Sponsor</li>
    <li>Consistent branding on the entire year’s media.</li>
    <li>A 10% discount on Sponsorship Package</li>
  </ul>


  <div class="container">
    <div class="row">
      <div class="col-md-3"><span class="sponsors">DIAMOND
        <br>

        <i class="fa fa-diamond fa-3x" aria-hidden="true"></i></span>
        <ul>
          <li>Single Event: $2500</li>
          <li>Annual: $4500</li>
        </ul>
      </div>
      <div class="col-md-3"><span class="sponsors">PLATINUM</span>
        <ul>
          <li>Single Event: $1000</li>
          <li>Annual: $1800</li>
        </ul>
      </div>
      <div class="col-md-3"><span class="sponsors">GOLD</span>
        <ul>
          <li>Sponsor Childcare!</li>
          <li>Single Event: $500</li>
          <li>Annual: $900</li>
        </ul>
      </div>
      <div class="col-md-3"><span class="sponsors">SILVER</span>
        <ul>
          <li>Sponsor A Meal!</li>
          <li>Single Event: $250</li>
          <li>Annual: $450</li>
        </ul>
      </div>
   </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-3">Platinum Sponsorship Plus
        <ul>
          <li>5 minute pitch</li>
          <li>Access to participants
          email addresses (opt-ins
          only)</li>
          <li>Annual Diamond
          Sponsors get your company name and logo on a RailsbridgeSD T- shirt*</li>
        </ul>
      </div>
      <div class="col-md-3">Gold Sponsorship PLUS:
        <ul>
          <li>Larger logo under a
          Platinum Sponsorship
          banner</li>
          <li>A 'sponsored by’ line on
          email communications</li>
          <li>Acknowledgement and
          Introduction at the event as a Platinum Sponsor</li>
        </ul>
      </div>
      <div class="col-md-3">Gold
        <ul>
          <li>Your name and logo on the Railsbridge SD event and registration page</li>
          <li>Acknowledgement at the event</li>
          <li>Ability to provide swag or digital content to all of our attendees</li>
        </ul>
      </div>
      <div class="col-md-3">Silver
        <ul>
          <li>Your name and logo on the Railsbridge SD event and registration page</li>
          <li>Acknowledgment / Thank You at the beginning OR at the meal of sponsorship</li>
        </ul>
      </div>
   </div>
  </div>
