  <h1>RailsBridge San Diego</h1>
  <p>Interested in hearing more?</p>
  <p>Sign up for our Newsletter</p>

  <%= render 'newsletter_sign_ups/newsletter_form', :object => @newsletter_sign_up %>
  <% NewsletterMailer.welcome_email.deliver_now %>
