<!DOCTYPE html>
<html>
<head>
  <title>RailsBridge SD</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <h1>RailsBridge San Diego</h1>
  <p>Interested in hearing more?</p>
  <p>Sign up for our Newsletter</p>

  <%= render 'layouts/newsletter_form', :object => @newsletter_sign_up %>

</body>
</html>
