<body class="resources_page">

<div class="section1">
<h2>Community</h2>
<p><h4 class="whiteWords">Welcome to the San Diego Ruby community</h4>
<p><h4 class="whiteWords">SD Ruby is a great way to meet and collaborate with other Ruby developers in San Diego.
</h4></p>
<p><h4 class="whiteWords">WSDRuby meets the first Thursday of each month, on the campus of UCSD, in the Computer Science & Engineering Building.</h4></p>
<p><h4 class="whiteWords">We also organize hackfests twice a month, which are held at the offices of LEARN academy in North Park, San Diego.
</h4></p>
<a href="https://www.twitter.com/sdruby" type="button" class="btn btn-primary btn-md"><i class="fa fa-twitter-square" aria-hidden="true"></i>
Follow @sdruby</a>
</div>
<div class="section2">
<h2>Install your tools</h2>
<%= image_tag('IMG_4660.jpg', class: "pic") %>
<p><h3 class="whiteWords">During Installfest, instructors will guide you step-by-step to get your build package installed on your computer and ready to move on. </h3></p>

</div>

<div class="section4">
<h2>Tutorials</h2>
  <a href="https://www.railstutorial.org/book"><h2>Ruby on Rails Tutorial - Learn Web Development with Rails</h2></a>
</div>
<div class="section5">
<h2>Online Classes</h2>
<h2>There are many sites that offer fine courses in rails programming including: </h2>
<ul>
  <li><h3><a href="https://www.codecademy.com/learn/learn-rails" style="color: black;">Code Academy - Rails</h3></li>
    <li><h3><a href="https://www.codeschool.com/learn/ruby" style="color: black;">Code School - Rails</h3></li>

</ul>
</div>
<div class="section5">
<h2>Bootcamps</h2>
<%= image_tag('footer-logo.png', class: "learnlogo") %>
<p></p>
<%= image_tag('devlogo.png', class: "devlogo") %>
</div>

</body>
