
<h1>About#index</h1>
<p>Find me in app/views/about/index.html.erb</p>

<h1>EMPOWERING WOMEN WITH RUBY</h1>

<h1>PROMOTING DIVERSITY</h1>

<h1>CODE OF CONDUCT</h1>

<h1>CONTACT</h1>

<h1>OUR FRIENDS</h1>
