<body class="about_page">

<h1>EMPOWERING WOMEN WITH RUBY</h1>
  <p><h4>RailsBridge is for everyone. Any level of experience, from ‘I have never coded before’ to ‘I’ve been programming for years and want to try this Ruby thing!’</h4></p>
  <p><h4>Because it provides a safe space for (female!) newcomers to learn, ask questions, and connect to the SD tech community!</h4></p>

<h1>PROMOTING DIVERSITY</h1>
<h3>We aim for all kinds of diversity in tech: gender, race, sexual orientation, ability, and class and are emphatically LGBTQQIP2SAA friendly!
</h3>

<h1>CODE OF CONDUCT</h1>


<h1>CONTACT</h1>


<h1>OUR FRIENDS</h1>

</body>
