<body class="about_page">


<div class="section1">
<h1>EMPOWERING WOMEN WITH RUBY</h1>
  <p><h4 class="whiteWords">RailsBridge is for everyone. Any level of experience, from ‘I have never coded before’ to ‘I’ve been programming for years and want to try this Ruby thing!’</h4></p>
  <p><h4 class="whiteWords">Because it provides a safe space for (female!) newcomers to learn, ask questions, and connect to the SD tech community!</h4></p>
</div>
<div class="section1">
<h1>PROMOTING DIVERSITY</h1>
<h3 class="whiteWords">We strive to create a safe and comfortable working environment for all students.
</h3>
<h3 class="whiteWords">We aim for all kinds of diversity in tech: gender, race, sexual orientation, ability, and class and are emphatically LGBTQQIP2SAA friendly!
</h3>
</div>


<h1>CONTACT</h1>
<div class="contact">
  <p><h3>LEARN - A Web Development Bootcamp</h3></p>
  <p><h3>3803 Ray Street</h3></p>
  <p><h3>San Diego, CA 92104 </h3></p>
  <p><h3>619-940-7848 </h3></p>
  <p ><h3><a href="http://www.LEARN.notch8.com">http://www.LEARN.notch8.com</a></h3></p>
</div>
<h1>OUR FRIENDS</h1>
<div class="friends">
  <a href="http://www.railsbridge.org"><h2>RailsBridge.org</h2></a>
  <a href="http://www.sdruby.org"><h2>SDRuby.org</h2></a>
</div>
</body>
