// Place all the styles related to the Donate controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#sponsors {
  font-size: 32px;
  font-weight: bolder;
  text-align: center;
}

#below {
 border: 0px solid black;
}

#silver {
  background-color: #c0c0c0;
  border: 0px;
}

#platinum {
  background-color: #e5e4e2;
  color: black;
}

#diamond {
  
}

.col-md-3 {
  width: 250px;
  height: 250px;
  border: 1px solid black;
}

ul > li {
  font-size: 16px;
  font-weight: normal;
  text-align: left;
}
