#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(51, 51, 51, 1);
}
#custom-bootstrap-menu.navbar-default {
    font-size: 22px;
    font-weight: bolder;
    background-color: #d91840;
    border-width: 0px;
    border-radius: 0px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(51, 51, 51, 1);
    background-color: #d91840;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(51, 51, 51, 1);
    background-color: #d91840;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(51, 51, 51, 1);
    background-color: #d91840;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #d91840;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #d91840;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #d91840;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #d91840;
}

.dropdown-menu li>a:hover,
.dropdown-menu li>a:focus,
.dropdown-menu {
  background-color: #d91840;
  border-width: 0px;
  border-radius: 0px;
}


body {
    padding-top: 65px;
    margin-bottom: 60px;
}

html {
  position: relative;
  min-height: 100%;
}
