// Place all the styles related to the Resources controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.resources_page {
  background-color: #d91840;
}

a:link {
    color: black;
}

.section1 {
  height:200px;
}

.section2 {
  height:350px;
}

.section3 {
  height:200px;
}

.section4 {
  height:200px;
}

.section5 {
  height:200px;
}

.section6 {
  height:200px;
}

.section7 {
  height:200px;
}

.learnlogo {
  height:60px;
  width:90px;
}

.devlogo {
  max-width:50%;
  max-height:50%;
}
