.welcome_page {
  background-color: #d91840;
}

.next_event {
  color: black;

}

ul li {
   margin-left:40px;
}
.logo {
  display: block;
    margin-left: auto;
    margin-right: auto
}

.pic {
  width:304px;
  height:228px;
}

.pic_welcome {
  max-width:50%;
   max-height:50%;
   display: block;
     margin-left: auto;
     margin-right: auto
}



.panel-body {
  text-align: center;
}
